@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom CSS below here */
html { scroll-behavior: smooth; }

.glitch-text {
  position: relative;
  color: white;
  text-transform: uppercase;
}

.glitch-text span {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch-text span:first-child {
  color: #ff00c1;
  animation: glitch 1s infinite linear alternate-reverse;
}

.glitch-text span:last-child {
  color: #00fff9;
  animation: glitch 1s infinite linear alternate-reverse;
  animation-delay: 0.2s;
}

@keyframes glitch {
  0% {
    clip-path: inset(80% 0 0 0);
    transform: translate(-2px, -2px);
  }
  20% {
    clip-path: inset(10% 0 85% 0);
    transform: translate(2px, 2px);
  }
  40% {
    clip-path: inset(50% 0 30% 0);
    transform: translate(-2px, 1px);
  }
  60% {
    clip-path: inset(30% 0 60% 0);
    transform: translate(1px, -1px);
  }
  80% {
    clip-path: inset(15% 0 70% 0);
    transform: translate(-1px, 2px);
  }
  100% {
    clip-path: inset(80% 0 0 0);
    transform: translate(2px, -2px);
  }
}

/* Correct dark mode background */
html.dark body {
  background: radial-gradient(circle at top left, #0f172a, #111827 60%, #000);
}
